.title{
    margin: 20px;
    text-align: center;
    color: turquoise;
    background-color: white;
    border: solid 1px;
    border-radius: 15px;
    padding: 20px;
}

.boton {
    height: 100px;
    margin: 1%;
    font-size: 70px;
    background-color: rgb(200, 229, 255);
    color: rgb(215, 222, 0);
}

.texto{
    text-align: center;
    background-color: rgb(28, 255, 126);
    float: left;
    margin-left: 46%;

}
