<div class="title">
  <h1><strong><u>TIC TAC TOE</u></strong></h1>
</div>
<div style="text-align: center">
  <button mat-raised-button (click)="presion(0,0)" class="boton">{{posiciones[0][0]}}</button>
  <button mat-raised-button (click)="presion(0,1)" class="boton">{{posiciones[0][1]}}</button>
  <button mat-raised-button (click)="presion(0,2)" class="boton">{{posiciones[0][2]}}</button>
  <br>
  <button mat-raised-button (click)="presion(1,0)" class="boton">{{posiciones[1][0]}}</button>
  <button mat-raised-button (click)="presion(1,1)" class="boton">{{posiciones[1][1]}}</button>
  <button mat-raised-button (click)="presion(1,2)" class="boton">{{posiciones[1][2]}}</button>
  <br>
  <button mat-raised-button (click)="presion(2,0)" class="boton">{{posiciones[2][0]}}</button>
  <button mat-raised-button (click)="presion(2,1)" class="boton">{{posiciones[2][1]}}</button>
  <button mat-raised-button (click)="presion(2,2)" class="boton">{{posiciones[2][2]}}</button>
</div>
<div class="texto">
  <button mat-button color="warn" (click)="reiniciar()">Reiniciar</button>
</div>