/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

background: url(https://www.pikpng.com/pngl/b/140-1404232_tic-tac-toe-comments-tic-tac-toe-png.png);}
